
/*box-sizing: border-box;*/

.pokemons_container{
    width: 80%;
    display: grid;
    grid-gap: 15px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
div.btn{
text-align: center;
padding-bottom:  15px;
display: flex;
justify-content: space-between;
width: auto;
}
.btn.btn-prev{
font-weight: bold;
border-radius: 10px;
color: #fff;
float: left;
}
.btn.btn-next{
  font-weight: bold;
border-radius: 10px;
color: #fff;
float:right;
}
.btn-next:hover, .btn-prev:hover {
  cursor: pointer;
}
